@font-face {
    font-family: "LavishlyYours";
    src: url("../assets/fonts/LavishlyYours-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "ImperialScript";
    src: url("../assets/fonts/ImperialScript-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "MeaCulpa";
    src: url("../assets/fonts/MeaCulpa-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Corinthia";
    src: url("../assets/fonts/Corinthia-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Birthstone";
    src: url("../assets/fonts/Birthstone-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "BirthstoneBounce";
    src: url("../assets/fonts/BirthstoneBounce-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "BonheurRoyale";
    src: url("../assets/fonts/BonheurRoyale-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Dynalight";
    src: url("../assets/fonts/Dynalight-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Festive";
    src: url("../assets/fonts/Festive-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "GreyQo";
    src: url("../assets/fonts/GreyQo-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Inspiration";
    src: url("../assets/fonts/Inspiration-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "LeagueScript";
    src: url("../assets/fonts/LeagueScript-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Licorice";
    src: url("../assets/fonts/Licorice-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "LoveLight";
    src: url("../assets/fonts/LoveLight-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "MarckScript";
    src: url("../assets/fonts/MarckScript-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "MissFajardose";
    src: url("../assets/fonts/MissFajardose-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "MrBedfort";
    src: url("../assets/fonts/MrBedfort-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "MrDeHaviland";
    src: url("../assets/fonts/MrBedfort-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "MrsSaintDelafield";
    src: url("../assets/fonts/MrDeHaviland-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "PassionsConflict";
    src: url("../assets/fonts/PassionsConflict-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "WindSong";
    src: url("../assets/fonts/WindSong-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Yesteryear";
    src: url("../assets/fonts/Yesteryear-Regular.ttf") format("truetype");
}
  